<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gene - [% name %] - [% synonyms %]</title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          [% goiid %]  
        </td>
        <td>
          [% name %]  
        </td>
        <td>
          [% textxt %]  
        </td>
        <td>
          [% igv %]  
        </td>
        <td>
          [% sashimi %]  
        </td>
        <td>
          [% ucsc %]  
        </td>
        <td>
          [% additionalplots %]  
        </td>
        <td>
          [% cufflinks %]  
        </td>
        <td>
          [% maxy %]  
        </td>
      </tr>
    </table>
  </body>
</html>

