<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gene - [% name %] - [% synonyms %]</title>
    <style>
      td { border: solid 1px black}
      th { border: solid 1px black}
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>
          ID
        </th>
        <th>
          NAME
        </th>
        <th>
          SYNONYMS
        </th>
        <th>
          Read_max
        </th>
        <th>
          Description (.pdf)
        </th>
        <th>
          IGV-image
        </th>
        <th>
          Sashimi-image
        </th>
        <th>
          UCSC-image
        </th>
        <th>
          Additional Plots
        </th>
      </tr>
      <tr>
        <td>
          [% goiid %]  
        </td>
        <td>
          [% name %]  
        </td>
        <td>
          [% synonyms  %]  
        </td>
        <td>
          [% maxy  %]  
        </td>
        <td>
          [% textxt %]  
        </td>
        <td>
          [% igv %]  
        </td>
        <td>
          [% sashimi %]  
        </td>
        <td>
          [% ucsc %]  
        </td>
        <td>
          [% additionalplots %]  
        </td>
      </tr>
    </table>
    <p>
      [% texcontent %]
    </p>
    <!-------- GOI/APG -------->
    <table>
      <tr>
        <th colspan="5">
          [% sample %]
        </th>
      </tr>
      <tr>
        <td colspan="2">
          [% condone %]
        </td>
        <td colspan="2">
          [% condtwo %]
        </td>
        <td>
          differential expression
        </td>
      </tr>
      <tr>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
      </tr>
      <tr>
        <td>
          [% maxy %]
        </td>
        <td>
          [% cufflinks %]
        </td>
        <td>
          [% maxy_two %]
        </td>
        <td>
          [% cufflinks_two %]
        </td>
        <td>
         [% fold %]
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="5">
          [% sampleone %]
        </th>
      </tr>
      <tr>
        <td colspan="2">
          [% condoone %]
        </td>
        <td colspan="2">
          [% condotwo %]
        </td>
        <td >
           differential expression
        </td>
      </tr>
      <tr>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
      </tr>
      <tr>
        <td>
          [% maxyo %]
        </td>
        <td>
          [% cufflinkso %]
        </td>
        <td>
          [% maxyo_two %]
        </td>
        <td>
          [% cufflinkso_two %]
        </td>
        <td>
          [% foldo %]
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="5">
          [% sampletwo %]
        </th>
      </tr>
      <tr>
        <td colspan="2">
          [% condtone %]
        </td>
        <td colspan="2">
          [% condttwo %]
        </td>
         <td>
          differential expression
        </td>
      </tr>
      <tr>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td> 
          fold change
        </td>
      </tr>
      <tr>
        <td>
          [% maxyt %]
        </td>
        <td>
          [% cufflinkst %]
        </td>
        <td>
          [% maxyt_two %]
        </td>
        <td>
          [% cufflinkst_two %]
        </td>
        <td>
          [% foldt %]
        </td>
      </tr>
    </table>
    <!----- COMPARISON ----->
    <table>
      <tr>
        <th colspan="5">
          [% csample %]
        </th>
      </tr>
      <tr>
        <td colspan="2">
          [% ccondone %]
        </td>
        <td colspan="2">
          [% ccondtwo %]
        </td>
        <td >
          differential expression
        </td>
      </tr>
      <tr>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
      </tr>
      <tr>
        <td>
          [% cmaxy %]
        </td>
        <td>
          [% ccufflinks %]
        </td>
        <td>
          [% cmaxy_two %]
        </td>
        <td>
          [% ccufflinks_two %]
        </td>
        <td>
          [% cfold%]
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="5">
          [% csampleone %]
        </th>
      </tr>
      <tr>
        <td colspan="2">
          [% ccondoone %]
        </td>
        <td colspan="2">
          [% ccondotwo %]
        </td>
         <td>
          differential expression
        </td>
      </tr>
      <tr>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
      </tr>
      <tr>
        <td>
          [% cmaxyo %]
        </td>
        <td>
          [% ccufflinkso %]
        </td>
        <td>
          [% cmaxyo_two %]
        </td>
        <td>
          [% ccufflinkso_two %]
        </td>
        <td>
          [% cfold %]
        </td>
      </tr>
    </table>
    <!----- TIMEPOINTS ------>
    <table>
      <tr>
        <th colspan="9">
          [% tsample %]
        </th>
      </tr>
      <tr>
        <td colspan="3">
          [% tcondone %]
        </td>
        <td colspan="3">
          [% tcondtwo %]
        </td>
        <td colspan="3">
          [% tcondthree %]
        </td>
      </tr>
      <tr>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
        <td>
          read_max
        </td>
        <td>
          expression
        </td>
        <td>
          fold change
        </td>
      </tr>
      <tr>
        <td>
          [% tmaxy %]
        </td>
        <td>
          [% tcufflinks %]
        </td>
        <td>
          [% tfold %]
        </td>
        <td>
          [% tmaxy_two %]
        </td>
        <td>
          [% tcufflinks_two %]
        </td>
        <td>
          [% tfold_two %]
        </td>
        <td>
          [% tmaxy_three %]
        </td>
        <td>
          [% tcufflinks_three %]
        </td>
        <td>
          [% tfold_three %]
        </td>
      </tr>
    </table>
  
    <!----- DESeq -------------->
    <table>
      <tr>
        <th colspan="9">
          [% dsample %]
        </th>
      </tr>
      <tr>
        <td colspan="3">
          [% dcondone %]
        </td>
        <td colspan="3">
          [% dcondtwo %]
        </td>
        <td colspan="3">
          [% dcondthree %]
        </td>
      </tr>
      <tr>
        <td>
          expression
        </td>
        <td>
          time dependend fold change
        </td>
        <td>
          sample dependend fold change
        </td>
        <td>
          expression
        </td>
        <td>
          time dependend fold change
        </td>
        <td>
          sample dependend fold change
        </td>
        <td>
          expression
        </td>
        <td>
          time dependend fold change
        </td>
        <td>
          sample dependend fold change
        </td>
      </tr>
      <tr>
        <td>
          [% dcufflinks %]
        </td>
        <td>
          [% dfold %]
        </td>
         <td>
          [% defold %]
        </td>
        <td>
          [% dcufflinks_two %]
        </td>
        <td>
          [% dfold_two %]
        </td>
        <td>
          [% defold_two %]
        </td>
        <td>
          [% dcufflinks_three %]
        </td>
        <td>
          [% dfold_three %]
        </td>
        <td>
          [% defold_three %]
        </td>
      </tr>
    </table>
  </body>
</html>
