      <tr>
        <td>
          [% name %] 
        </td>
        <td>
          [% synonyms  %]  
        </td>
        <td>
          [% c3 %]  
        </td>
        <td>
          [% c7 %]  
         </td>
        <td>
          [% c23 %]  
        </td>
        <td>
          [% e3 %]  
        </td>
        <td>
          [% e7 %]  
        </td>
        <td>
          [% e23 %]  
        </td>
        <td>
          [% v3 %]  
        </td>
        <td>
          [% v7 %]  
        </td>
        <td>
          [% v23 %]  
        </td> 
        <td>
          [% textxt %]  
        </td>
        <td>
          [% igv %]  
        </td>
        <td>
          [% sashimi %]  
        </td>
        <td>
          [% ucsc %]  
        </td>
      </tr>
