<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gene index</title>
    <style>
      td { border:1px solid black}
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>
          NAME
        </th>
        <th>
          SYNONYMS
        </th>
        <th colspan="9">
          READ_MAX [c3,c7,c23,e3,e7,e23,v3,v7,v23]<br> (c == control) 
        </th>
        <th>
          PDF-file
        </th>
        <th>
          IGV-image
        </th>
        <th>
          Sashimi-image
        </th>
        <th>
          UCSC-image
        </th>
      </tr>
      [% genesofinterests %]
    </table>
  </body>
</html>



